.projectsPage{
    height: 100vh;
}
.title{
    margin: 5% 0 0 10%;
}

.projects{
    margin: 1% 5% 0 10%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plus{
    width: 6vw;
}