.AboutPage{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.main-section{
    margin: 8vh 0 0 8vw;
}
.second-section{
    margin: 8vh 0 ;
}
.text{
    margin: 5vh 0;
    width: 80%;
    text-align: justify;
    line-height: 1.3;
}

.skills{
    margin: 5% 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}