.AboutPage{
    display: grid;
    grid-template-columns: 50% 50%;
}

.title{
    margin: 15% 0 0 20%;
}
.text{
    margin: 5% 0 0 20%;
    width: 60%;
}

.skills{
    margin: 5% 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}