/*************** General  ******************/
.HomePage{
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: hidden;
    height: 100vh;
}
/*************** Left  ******************/
.left-div{
    margin: 12% 18% 18% 14%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.typing {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    border-right: 0.15em solid var(--main-color);
    width: 0;
    animation: typing 6s steps(20, end) infinite, blink-caret 0.5s step-end infinite;
    /* Añade "forwards" para que la animación se detenga en su estado final */
  }
  
  @keyframes typing {
    from,to { width: 0; }
    50% { width: 50%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color:  var(--main-color); }
  }
.role{
    background-color: rgba(140, 48, 245, 0.6);
    color: white;
    width: calc(28vw - 10px);
    padding: 10px 0 10px 10px;
}
h1{
    width: 54vw;
    height: 15vh;

    font-weight: 800;
    font-size: 10vh;
    line-height: 15vh;

    color: #18191F;
}

/*   Buttons   */
.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 70%;
}
.main-button{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    padding: 2vh;
    width: 40%;

    /* Brand / Purple */

    background: var(--other-color);
    border-color: var(--other-color);
    border-radius: 1.5vh;
    color: white;
}

.second-button{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vw;

    width: 40%;

    background: white;
    border: solid #8C30F5;
    border-radius: 1.5vh;
}

/*************** Right  ******************/
.right-div{
    background-color: black;
    position: relative;
}

.circle-mask{
    display: flex;
    align-items: center;
    width: 26vw;
    height: 26vw;
    border-radius: 50%;
    overflow: hidden;
}

.main-img{
    position: absolute;
    top: 20%;
    left: -13vw;
    z-index: 1;
}
.main-img img{
    width: 100%;
}
.second-img{
    position: absolute;
    top: 15%;
    left: -10vw;
}    