.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--other-color);
    color:  #ececec;

    height: 10vh;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}