:root{
    --main-color: #7700FF;
    --second-color: rgba(140, 48, 245, 0.6);
}
.page {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}