:root{
    --main-color: #7700FF;
    --second-color: rgba(140, 48, 245, 0.6);
    --other-color: #8C30F5;
}
.page {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5s ease-in-out;
}
.page.visible{
  opacity: 1;
  transform: translateX(0);
}
.HomePage{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
html{

    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--other-color) #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--other-color);
    border-radius: 0px;
    border: 0px solid #ffffff;
  }