.experience{
    border: solid;
    border-radius: 20px;
    border-color: var( --other-color);

    display: flex;
    flex-direction: column;
    justify-content: start;
    
    width: 30vw;
    height: 45vh;
    padding: 3vh 3vw 3vh 3vw;

    line-height : 20px;

}

.experience h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.experience h2 em{
    color: var( --other-color);
}

.experience h4{
    color: #525252;
    margin-bottom: 5px;
}

.experience ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: 5px;
    font-weight: 550;
}